@font-face {
    font-family: 'JunctionRegular';
    src: url('fonts/junction/junction_02-webfont.eot');
    src: url('fonts/junction/junction_02-webfont.eot?#iefix') format('eot'),
         url('fonts/junction/junction_02-webfont.woff') format('woff'),
         url('fonts/junction/junction_02-webfont.ttf') format('truetype'),
         url('fonts/junction/junction_02-webfont.svg#webfonti4kqKRyi') format('svg');
    font-weight: normal;
    font-style: normal;
}